@charset "utf-8";

*{
    box-sizing: border-box;
}

main{
    max-width: 600px;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}
img{
    width: 100%;
    padding: 5px;
}

footer, article, header{
    border: 2px solid black;
}